@{
    Layout = "~/Views/Shared/_Root.cshtml";
}

<header id="topHeader">
    <div class="navbar navbar-fixed-top center" id="head">
        <div class="navbar-inner">
            @Html.Partial("TopMenu")
        </div>
    </div>
</header>

@RenderBody()

