<ul class="nav text-center">
    <li id="Home"><a class="navbarText" href="/Home/Index" style="color: black; font-weight: bold">Home</a> </li>
    <li id="Survey"><a class="navbarText" href="/Home/Survey" style="color: black; font-weight: bold">Survey</a></li>
    <li id="Result"><a class="navbarText" href="/Home/Result" style="color: black; font-weight: bold">Results</a></li>
    <li id="Logo"><img src="~/Images/logo2tiny.png" class="padding-top-12"></li>
    <li id="Learn"><a class="navbarText" href="/Home/Learn" style="color: black; font-weight: bold">Learn</a></li>
    <li id="Network"><a class="navbarText" href="/Home/Network" style="color: black; font-weight: bold">Network</a></li>
    <li id="Search"><a class="navbarText" href="/Home/Search" style="color: black; font-weight: bold">Search</a></li>
</ul>

<script type="text/javascript">

    $(function() {

        $('#fastForwardLink').click(function() {
            fastforward.fastForwardMe();
        });

    });

</script>
